<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /tools/box-shadow-generator/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule . /tools/box-shadow-generator/index.html [L]
</IfModule>